@model List<Destinos.Models.ViewsModels.TablaViewModel>
@{
    ViewBag.Title = "Destinos turísticos";
}

<h1>@ViewBag.Title</h1>

<link href="../css/Style.css" rel="stylesheet" />

<div class="row">
    @foreach (var Element in Model)
    {
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">@Element.Name</h3>
            </div>
            <img src="@Element.Photo" class="card-img-top" alt="...">
            <div class="panel-body">
                <h3>@Element.Description</h3>
                <h4> Precio: $ @Element.Price</h4>
            </div>

        </div>
    }
</div>

